
    <div class="heading">
        <h1>About Us</h1>
        <p>Webiste 1er in angular with doummar z
            </p>
    </div>
    <div class="container">
        <section class="about">
            <div class="about-image">
                <img src="./assets/project2.png">
            </div>
            <div class="about-content">
                <h2></h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                   Incidunt est optio sapiente architecto corrupti suscipit mollitia rerum\
                   necessitatibus perferendis quaerat dolores impedit eos nulla distinctio cumque laborum, ad unde obcaecati!</p>
                <a href="#" class="read-more">learn More</a>
            </div>
        </section>
    </div>

